<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Filter</key>
  <dict>
    <key>Bundles</key>
    <array>
      <string>com.roblox.RobloxMobile1</string>
      <string>com.roblox.RobloxMobile2</string>
      <string>com.roblox.robloxmobile1</string>
      <string>com.roblox.robloxmobile2</string>
      <string>com.roblox.robloxmobile.codex.8PQT32L333</string>
      <string>com.apple.springboard</string>
    </array>
    <key>Executables</key>
    <array>
      <string>Roblox</string>      <!-- Имя Mach-O binary -->
    </array>
  </dict>
</dict>
</plist>