<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Filter</key>
  <dict>
    <key>Bundles</key>
    <array>
      <!-- все ваши клоны Roblox: -->
      <string>com.roblox.robloxmobile1</string>
      <string>com.roblox.robloxmobile2</string>
      <!-- Плюс SpringBoard, если хочется видеть лог при тапе по иконке -->
      <string>com.apple.springboard</string>
    </array>
  </dict>
</dict>
</plist>